@using System.Security.Claims;
@model PostDetailVM

<div class="row tm-row">
    <div class="col-12">
        <hr class="tm-hr-primary tm-mb-35">
        <div class="tm-post-link-inner">
            <img src="~/@Model.Post.ImagePath" class="img-fluid">
        </div>
    </div>
</div>
<div class="row tm-row">
    <div class="col-lg-8 tm-post-col">
        <div class="tm-post-full">
            <div class="mb-4">
                <h2 class="pt-2 tm-color-primary tm-post-title">@Model.Post.Title</h2>
                <p class="tm-mb-10">@Model.User.UserName, tarafından @Model.Post.CreatedDate.Value.ToShortDateString() tarihinde eklendi</p>
                <p>
                    @Model.Post.PostDetail
                </p>
                <p>

                </p>
                <span class="d-block text-right tm-color-primary">@Model.Category.Status</span>
            </div>

            <!-- Comments -->
            <div>
                @{
                    <h2 class="tm-color-primary tm-post-title">Yorumlar</h2>
                    @foreach (var comment in Model.Comments)
                    {
                        <hr class="tm-hr-primary tm-mb-45">
                        <div class="tm-comment tm-mb-15">
                            <figure class="tm-comment-figure">
                                <img src="~/FrontTemplate/img/comment-1.jpg" alt="Image" class="mb-2 rounded-circle img-thumbnail">
                                <figcaption class="tm-color-primary text-center"></figcaption>
                            </figure>
                            <div>
                                <p>
                                    @comment.CommentText
                                </p>
                                <div class="d-flex justify-content-between">
                                    <a href="#" class="tm-color-primary">REPLY</a>
                                    <span class="tm-color-primary">@comment.User.FirstName, @comment.CreatedDate.Value.ToShortDateString()</span>
                                </div>
                            </div>
                        </div>


                    }
                    <form asp-action="Create" asp-controller="Comment" asp-area="Admin" method="post" class="mb-5 tm-comment-form">
                        <h2 class="tm-color-primary tm-post-title mb-4">Sizin yorumunuz</h2>
                        <div class="mb-4">
                            <input class="form-control" type="text" disabled placeholder="@Context.User.FindFirst(ClaimTypes.Name) @Context.User.FindFirst(ClaimTypes.Surname)">
                        </div>
                        <div class="mb-4">
                            <textarea class="form-control" name="commentMessage" rows="6" placeholder="Yorumunuzu ekleyin"></textarea>
                        </div>
                        <div class="text-right">
                            <button type="submit" class="tm-btn tm-btn-primary tm-btn-small">Gönder</button>
                        </div>
                    </form>

                }
            </div>
        </div>
    </div>
    <aside class="col-lg-4 tm-aside-col">
        <div class="tm-post-sidebar">
            <hr class="mb-3 tm-hr-primary">
            <h2 class="mb-4 tm-post-title tm-color-primary">Categories</h2>
            <ul class="tm-mb-75 pl-5 tm-category-list">

                @foreach (var item in Model.Categories)
                {
                    <li><a asp-action="ShowPosts" asp-controller="Category" asp-area="" asp-route-id="@item.Id" class="tm-color-primary">@item.CategoryName</a></li>
                }
            </ul>
            <hr class="mb-3 tm-hr-primary">
            <h2 class="tm-mb-40 tm-post-title tm-color-primary">Related Posts</h2>

            <a href="#" class="d-block tm-mb-20">
            <figure>
            <img src="img/img-02.jpg" alt="Image" class="mb-3 img-fluid">
            <figcaption class="tm-color-primary">Duis mollis diam nec ex viverra scelerisque a sit</figcaption>
            </figure>
            </a>
            
        </div>
    </aside>
</div>